* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* == HEADER ============================================== */

header {
    display: flex;
}

#logo {
    display: flex;
    width: 20%;
    margin-left: 15px;
}

#logo-image {
    max-width: 30%;
    object-fit: contain;
}

#logo-text {
    max-width: 100%;
    margin-right: 75px;
    object-fit: contain;
}

header nav {
    width: 80%;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

header button {
    margin-left: 15px;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid red;
    min-width: 120px;
    background-color: transparent;
    color: red;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    transition: 300ms ease-in-out;
}

header button:hover {
    background-color: red;
    color: white;
    transform: translateY(10px);
    cursor: pointer;
}

.whatsapp {
    margin-left: 75px;
    background-color: rgb(0, 0, 170);
    color: white;
    border: 2px solid rgb(0, 0, 170);
}

.whatsapp:hover {
    background-color: transparent;
    color: rgb(0, 0, 170);
}

.wp-logo {
    margin: 0 5px;
}


/* == HERO IMAGE ============================================== */

#hero {
    background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 100vh;
    background-position: center;
}


/* == CALL TO ACTION ============================================== */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    min-height: inherit;
    padding: 0 10%;
}

.call-to-action span {
    min-width: 50%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.call-to-action h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(135, 212, 235);
    text-shadow: 0 0 30px;
    transition: 400ms ease-in-out;
    animation: cta-h1 10s infinite;
}

@keyframes cta-h1 {
    0% {
        color: rgb(135, 212, 235);
        text-shadow: 0 0 30px;
    }

    45% {
        color: rgb(135, 235, 140);
        text-shadow: 0 0 30px;
    }

    90% {
        color: rgb(235, 135, 135);
        text-shadow: 0 0 30px;
    }

    100% {
        color: rgb(135, 212, 235);
        text-shadow: 0 0 30px;
    }
}

.call-to-action p {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px black;
    margin: 10px 0;
    font-size: 18px;
}

.call-to-action button {
    margin: 10px 0;
    padding: 15px;
    border: none;
    max-width: 150px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
    transition: 250ms ease-in-out;
}

#plans {
    margin-left: 10px;
}

.call-to-action button:hover {
    cursor: pointer;
    background-color: rgb(201, 90, 0);
}


/* == FORM ============================================== */

#form {
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 0 0 5px 0 white;
    border-radius: 20px;
    min-width: 500px;
    min-height: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

#form p {
    font-size: 25px;
    font-weight: 700;
}

#form input,
textarea {
    min-width: 320px;
    min-height: 40px;
    margin: 3px 0;
    border-radius: 20px;
    opacity: 50%;
    padding-left: 15px;
    color: black;
    font-size: 15px;
}

#form textarea {
    padding-top: 10px;
}

#form input::placeholder,
#form textarea::placeholder {
    color: rgb(97, 97, 97);
}

#form button {
    min-width: 100%;
    min-height: 40px;
    margin: 3px 0;
    border-radius: 20px;
    padding-left: 15px;
    color: white;
    font-weight: 900;
}

/* == ABOUT & SERVICES ============================================== */

.block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(0, 0, 158);
}

.block hr {
    border-color: black;
    width: 200px;
    margin: 20px;
}

.block p {
    padding-bottom: 30px 50px;
    text-align: justify;
}

.services {
    background-color: rgb(149, 142, 255);
    margin: 0;
}

#cards {
    display: flex;
    min-width: 100%;
}

.card {
    background-color: rgba(230, 129, 255, 0.438);
    margin: auto;
    width: 25%;
    min-height: 400px;
    border-radius: 25px;
    box-shadow: 0 0 5px 0 purple;
    transition: 400ms ease-in-out;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0 0 25px 0 purple;
    background-color: purple;
    color: white;
    border: none;
}

.sno {
    height: 40px;
    width: 40px;
    font-size: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
    color: transparent;
    transition: inherit;
}

.card:hover .sno {
    background-color: white;
    color: purple;
    font-size: 25px;
    font-weight: 900;
}

.card h1 {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
    color: inherit;
    text-align: center;
    transition: inherit;
}

.card:hover h1 {
    transform: scale(0.8);
    color: white;
}

.card hr {
    transition: inherit;
}

.card:hover hr {
    border-color: white;
}

.price span {
    margin: 10px;
    font-weight: 700;
    font-size: 25px;

}

#disc {
    text-decoration: line-through;
}

.card-details ul {
    list-style-position: inside;
    list-style-type: '⚪';
}

.card-details ul li {
    padding: 5px;
    font-size: 18px;
}

.card button {
    margin-top: 10px;
    min-width: 60%;
    min-height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: purple;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px;
    font-size: 20px;
    transition: inherit;
}

.card:hover button {
    background-color: white;
    color: purple;
    cursor: pointer;
}

.card button:hover {
    transform: scale(1.1);
}


/* == CONTACT ============================================== */

.contact {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 30px 0;
}

.image,
.contact-form {
    min-width: 45vw;
    min-height: 420px;
    padding: 20px;
    margin: auto;
}

.image img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 50px 0;
    box-shadow: 0 0 15px 0;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form table {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.568)), url(./assets/image2.jpg);
    background-size: contain;
    border-radius: 50px 0;
    box-shadow: 0 0 15px 0;
    padding: 50px;
    min-height: inherit;
}

.contact-form #form-heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    font-size: 30px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel] {
    min-width: 100%;
    min-height: 35px;
    margin: 5px 0;
    padding-left: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.301);
}

.contact-form input[type=checkbox] {
    width: 18px;
    height: 18px;
}

.contact-form input::placeholder {
    color: rgb(224, 224, 224);
}

#subscribe {
    color: white;
    position: relative;
    bottom: 3px;
}

.contact-form input[type=submit] {
    min-width: 100%;
    min-height: 35px;
    margin: 5px 0;
    padding-left: 10px;
    border: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 900;
    border-radius: 5px 15px;
    background-color: black;
    color: white;
    transition: 300ms ease-in-out;
}

.contact-form input[type=submit]:hover {
    transform: translateY(-4px);
    cursor: pointer;
}


/* == FOOTER MENU ============================================== */

footer {
    background-color: rgb(2, 0, 117);
}

.footer {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    color: white;
}

.details {
    max-width: 30%;
    margin: auto;
    font-size: 20px;
}

#footer-logo img {
    margin-bottom: 15px;
    box-shadow: 0 0 20px 0;
    max-width: 400px;
}

.social-icons {
    margin: 20px;

}

.social-icons span {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    font-size: 25px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    transition: 400ms ease-in-out;
}

#facebook {
    color: blue;
}

#facebook:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

#instagram {
    color: rgb(185, 10, 147);
}

#instagram:hover {
    background-color: rgb(185, 10, 147);
    color: white;
    cursor: pointer;
}

#linkedin {
    color: rgb(0, 0, 150);
}

#linkedin:hover {
    background-color: rgb(0, 0, 150);
    color: white;
    cursor: pointer;
}

#github {
    color: black;
}

#github:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

#mail {
    color: rgb(112, 93, 194);
}

#mail:hover {
    background-color: rgb(112, 93, 194);
    color: white;
    cursor: pointer;
}

.heading {
    font-weight: 900;
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 15px;
}

.details table tr td:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* == FOOTER ============================================== */

#footer-hr {
    width: 80%;
    margin: auto;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 0, 117);
    color: white;
    min-height: 75px;
    font-size: 18px;
    font-weight: 700;
}

#copyright a {
    margin-left: 8px;
    color: inherit;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

#copyright a:hover {
    color: skyblue;
}


/* == SIDELINE ============================================== */

#sideline {
    background-color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 0;
    top: 200px;
    font-size: 30px;
    color: white;
}

#sideline div {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    min-height: 80%;
    transition: 300ms ease-in-out;
}

#sideline div:hover {
    cursor: pointer;
}

#share-icon {
    background-color: black;
    margin-bottom: 5px;
}

#instagram-icon {
    background-color: rgba(255, 0, 98, 0.395);
}

#instagram-icon:hover {
    background-color: rgb(255, 0, 98);
}

#facebook-icon {
    background-color: rgba(0, 0, 255, 0.395);
}

#facebook-icon:hover {
    background-color: blue;
}

#link-icon {
    background-color: rgba(128, 128, 128, 0.395);
}

#link-icon:hover {
    background-color: grey;
}


/* == SCROLL TO TOP ============================================== */


:root {
    scroll-behavior: smooth;
}

.stt {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 50px;
    opacity: 0.7;
    transition: 200ms ease-in-out;
}

.stt:hover {
    opacity: 1;
    color: red;
}
